body { padding:10px; }

ul { list-style:none; margin-left:5px; }
li { margin:5px 0; }
.checkbox label { display:inline-block; }

.log_info { height:150px; overflow:auto; }

.table td.type {
	overflow:hidden;
	position:relative;
	text-align:center;
	width:30px;
}
.type:before {
	content:'';
	display:block;
	height:100%;
	left:0;
	position:absolute;
	top:0;
	width:5px;
}
.type.error:before {
	background:#B94A48;
}
.type.log:before {
	background:#b9d5e2;
}
.type.info:before {
	background:#BED5BE;
}

.table th.span1 { text-align:center; }